
@{
    ViewData["Title"] = "AddCategory";
    Layout = "~/Views/Shared/_MainLayout.cshtml";
}

<form class="form-group" method="post">
    <div>
        <label>Category Name</label>
        <input type="text" class="form-control" name="CategoryName" />
    </div>
    <div style="margin-top:15px;">
        <button class="btn btn-info" id="add-button">Add Category</button>
    </div>
</form>

