
@{
    ViewData["Title"] = "AddCustomer";
    Layout = "~/Views/Shared/_MainLayout.cshtml";
}

<form method="post" class="form-group">
    <div>
        <label>First Name</label>
        <input type="text" class="form-control" name="FirstName" id="first-name" required=""/>
    </div>
    <div>
        <label>Last Name</label>
        <input type="text" class="form-control" name="LastName" id="last-name" required=""/>
    </div>

    <div style="margin-top:15px;">
        <button class="btn btn-info" id="btn-add">Add Customer</button>
    </div>



</form>








