@{
    Layout = null;
}
@using Microsoft.AspNetCore.Http

<!DOCTYPE html>
<html lang="en">
<head>
    <title>Bootstrap Example</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
</head>
<body>

    <nav class="navbar navbar-inverse">
        <div class="container-fluid">
            <div class="navbar-header">
                <a class="navbar-brand" href="#">Stock Control </a>
            </div>
            <ul class="nav navbar-nav">
                <li class="active"><a href="/Category/Index">Categories</a></li>
                <li class="active"><a href="/Product/Index">Products</a></li>
                <li class="active"><a href="/Customer/Index">Customers</a></li>
                <li class="active"><a href="/Order/Index">Orders</a></li>
                <li class="active"><a href="/Default/Index">Help</a></li>
            </ul>

            <ul class="nav navbar-nav" style="float:right !important">


                }
                @if (Context.Session.GetString("ssUserId") != null)
                {
                    <li class="active"><a href="/Category/Index">Hello @Context.Session.GetString("ssUsername")</a></li>
                    <li class="active"><a href="/Admin/Logout" onclick="return confirm('Are you sure to logout?')">Log out</a></li>
                }
                else
                {
                    <li class="active"><a href="/Admin/Login">Log in</a></li>
                    <li class="active"><a href="/Admin/Signup">Sign Up</a></li>
                }
            </ul>
        </div>
    </nav>

    <div class="container">
        @RenderBody() @*bu alan layouta bağlı olarak gelecek sayfaların içeriği olacak, Index gelecek buraya örneğin.*@
    </div>
</body>
</html>
